<h1>{{title}}</h1>
<!-- {{# if currentUserId}} -->
<a href="/users/new"><button>Get Started</button></a>
<!-- <p><img src="https://s3-us-west-1.amazonaws.com/mypage-webapp/folder/1532469388200_img.png"></p> -->
