<div class="page">
  <!-- <div class = "parallax"> -->
    <h1>{{title}}</h1>
    {{# if currentUserId}}
      <a href="/users/{{username}}">Go To Profile</a>
    {{else}}
      <a href="/users/new">Get Started</a>
    {{/if}}
  <!-- </div> -->
</div>
