<body>
  <header class="text-center">
    <h1>Welcome to Portfolio</h1>
    {{# if currentUserId}}
      <a href="/users/{{username}}"><button>Go To Profile</button></a>
    {{else}}
      <a href="/users/new"><button>Get Started</button></a>
    {{/if}}
  </header>

  <div class="section first-section">
    <div class="container">
      <div class="row justify-content-around align-items-center">
        <div class="col-12 col-lg-7">
          <h1 class="welcome-title">
            <span class="typer" id="main" data-words="Hello there, Welcome to Portfolio" data-colors="rainbow" data-delay="100" data-deleteDelay="1000"></span>
            <span class="cursor" data-owner="main"></span>
          </h1>
        </div>
        <div class="col-12 col-lg-5">
          <h2>Introducing Portfolio:</h2>
          <h4>a platform for sharing your own media</h4>
          <p>We're getting rid of all of the quantifiable metrics of self-worth</p>
          <ul>
            <li>No Likes</li>
            <li>No Comments</li>
            <li>No Followers</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="section second-section">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-12 col-sm-10 col-med-8 col-lg-5">
          <h2 id="about">Coming Soon</h2>
          <p>These features are all in the works and will be released soon!</p>
          <div class="row text-center">
            <div class="col-12 col-sm-6 col-lg-3">
              <p>Shareable link for personal profile</p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
              <p>Public feed of everyone's posts</p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
              <p>Upload an album of photos</p>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
              <p>Upload different types of files</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</body>
