<div class="page">
  <form action="/login" method="post">
    <h1>Log In</h1>

    <div>
      <input type="text" name="username" id="user-username" placeholder="username">
    </div>

    <div>
      <input type="password" name="password" id="user-password" placeholder="password">
    </div>

    <div class="click">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
