/* General */
body, button {
  font: 12px 'GFS Didot';
}

a {
  color: black;
  /* text-decoration: none; */
}

a:hover {
  color: gray;
}

input {
  font: 14px 'GFS Didot', serif;
  margin: .5em 0;
}

button {
  font: 14px 'GFS Didot', serif;
  margin: .5em 0;
}

h1 {
  font-size: 18px;
  font-weight: normal;
}

ul {
  color: #fff;
  margin-left: -40px;
}

.page {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.space {
  height: 100px;
}
/* Nav Bar */
.navbar {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 46px;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 98%;
}

.title {
  margin-right: auto;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;
}

.log {
  color: black;
  margin-left: 10px;
}

/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

/* Landing Page */
.parallax {
    background: #7c7c7c;
    min-height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* New User */
main {
  padding: 1em 2em;
}

form {
  max-width: 20em;
}

/* User Page */
.prof-pic {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 50%;
}

.posts {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2em;
  padding: 1% 5%;
}

.post {
  height: 300px;
  border: 1px solid #000;
  margin: 10px 5px 0 0;
  padding: 10px;
}

#list {
  width: 80%;
}

#post-body {
  height: 100px;
  width: 300px;
}

/* New Post */
.new-post {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Show Post */
.show-post {
  margin: 50px auto 0 auto;
  text-align: center;
  height: 400px;
  width: 30%;
  border: 1px solid #000;
}

/* Edit Post */
.edit-post {
  margin: 50px auto 0 auto;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
