/* General */
body {
  font: 14px 'GFS Didot';
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

button {
    border: 1px solid black;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

a {
  color: black;
  /* text-decoration: none; */
}

a:hover {
  color: #7c7c7c;
}

input {
  font: 14px 'GFS Didot', serif;
  margin: .5em 0;
}

button {
  font: 14px 'GFS Didot', serif;
  margin: .5em 0;
}

h1 {
  font-size: 18px;
  font-weight: normal;
}

ul {
  color: #fff;
  margin-left: -40px;
}

.page {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #eee; */
}

.space {
  height: 100px;
}

.form {
    background-color:transparent;
    border: 0px solid;
    /* height:30px;
    width:260px; */
    border-bottom: 1px solid black;
}

.form :focus {
    outline:none;
}

/* Nav Bar */
.navbar {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 46px;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 98%;
}

.title {
  margin-right: auto;
  /* font-size: 24px; */
  text-decoration: none;
  font-weight: bold;
}

.log {
  color: black;
  margin-left: 10px;
  margin-right: 15px;
}

/* Footer */
footer {
  /* flex-shrink: 0; */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

/* Landing Page */
.parallax {
    background: #7c7c7c;
    min-height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* New User */
main {
  padding: 1em 2em;
}

form {
  max-width: 20em;
}

/* User Page */
.prof-pic {
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 60%;
  margin-bottom: -50px;
}

.prof-pic:hover {
  background-color: black;
}

.posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3em;
  padding: 1% 5%;
}

.post {
  height: 300px;
  border: 1px solid #000;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.post:hover {
  color: white;
  background-color: black;
}

#list {
  width: 80%;
}

#post-body {
  height: 100px;
  width: 300px;
}

/* New Post */
.new-post {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Show Post */
.show-post {
  margin: 50px auto 0 auto;
  text-align: center;
  height: 400px;
  width: 30%;
  border: 1px solid #000;
}

/* Edit Post */
.edit-post {
  margin: 50px auto 0 auto;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Media Queries */
@media (max-width: 795px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1135x) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}
