/* General */
body {
  font: 14px 'GFS Didot';
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

button {
  border: 1px solid black;
  font: 14px 'GFS Didot', serif;
  margin: .5em .5em;
  outline: none;
  color: black;
  background-color: transparent;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

button:focus {
  outline: none;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none!important;
}

a:hover {
  color: #555;
}

input, textarea {
  color: black;
  font: 14px 'GFS Didot', serif;
  margin: .5em 0;
  border: 1px solid black;
  outline: none;
  padding: 5px 10px;
}

::placeholder {
    color: black;
}

h1 {
  font-size: 18px;
  font-weight: normal;
}

ul {
  color: #fff;
  margin-left: -40px;
}

.page {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  background-color:transparent;
  border: 0px solid;
  border-bottom: 1px solid black;
}

.form:focus {
  outline:none;
}

/* Landing Page */
.index {
  height: 400px;
  background-color: red;
  width: 100%;
}

.section {
    padding: 60px 0 40px;
}


/* Nav Bar */
.navbar {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: 46px;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 98%;
  z-index: 1;
}

.title {
  margin-right: auto;
  text-decoration: none;
  font-weight: bold;
}

.log {
  color: black;
  margin-right:-30px;
}

/* Footer */
footer {
  absolute: 0;
  width: 100%;
  text-align: center;
  border: 10px solid black;
  background-color: black;
  color: white;
}

/* New User */
main {
  padding: 1em 2em;
}

form {
  max-width: 20em;
}

/* User Page */
.pic {
  width: 100%;
}

.card:hover {
  transition: transform .2s;
  transform: scale(1.01);
}

.card {
  border-radius: 0!important;
  border-color: black;
  padding: 1em;
}

textarea {
  resize: none;
}

#post-body {
  height: 100px;
  width: 30em;
}

#post-img {
  border: none;
  align-items: center;
}

.new-button {
  margin-bottom: 20px;
}

/* New Post */
.new-post {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.new-post input {
  width: 30em;
}

.select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.post-fn {
  display: none
}
.post-fn.active{
  display: block;
}

.select-btn.active{
  background-color: black;
  color: white;
}

/* Show Post */
.show-post {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 1em;
  text-align: center;
  width: 50%;
  border: 1px solid #000;
}

.show-pic {
  width: 100%;
}

.back-btn {
  position: fixed;
  bottom: 30px;
  left: 30px;
}

.delete-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
/* Edit Profile */
.edit-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

/* Media Queries */
/* @media (min-width: @screen-sm-min) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: @screen-md-min) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: @screen-lg-min) {
  .card-columns {
    column-count: 4;
  }
} */
