<div class="page">
  <form action="/users" method="post">
    <!-- Image Input -->
    <div id="prof-img">
      <input type='file' name="profile"></input>
    </div>

    <!-- Text Input -->
    <div id="prof-text">
        <textarea name="body" rows='3' placeholder="Write a short bio..."></textarea>
    </div>
    <button type="submit">Update Profile</button>
  </form>
</div>
