<div class="page">
  <form action="/users" method="post">
    <div class="edit-profile">
      <h1>Edit Profile</h1>

      <div id="prof-img">
        <input type='file' name="profile" style="border:none;"></input>
      </div>

      <div id="prof-text">
          <textarea name="body" rows='3' placeholder="Write a short bio..." style="width: 30em;"></textarea>
      </div>
      <button type="submit">Update Profile</button>
    </div>
  </form>
</div>

<a href="/users/{{username}}" class="back-btn"><button>< Back</button></a>
