<body>
  <div class="page">
    <h1>{{username}}</h1>
  </div>

  <form action="/users" method="post">
    <div>
      <input class="form" type="text" name="bio" id="user-bio" placeholder="{{user.bio}}" autocomplete="off">
    </div>

    <div>
      <input class="form" type="text" id="confirm_password" placeholder="Confirm Password" autocomplete="off">
    </div>

    <script>
      var password = document.getElementById("user-password");
      var confirm_password = document.getElementById("confirm_password");

      function validatePassword(){
        if(password.value != confirm_password.value) {
          confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
          confirm_password.setCustomValidity('');
        }
      }
      password.onchange = validatePassword;
      confirm_password.onkeyup = validatePassword;
    </script>

      <button type="submit">Sign Up</button>
      <p>Have an account already?</p><a href="/login">Log In</a>
    </form>
  </div>
</body>
