<div>
  <h1>{{user}}</h1>
</div>

<div>
  <a href="/users/{{user}}/posts/new"><button>+</button></a>
</div>

<div>
  {{#each posts as |post|}}
    <div>
      <h3>{{post.title}}</h3>
      <p>{{post.body}}</p>
    </div>
  {{/each}}
</div>
