<div class="page">
    <form action="/users/{{username}}" method="post" enctype="multipart/form-data">
      <div class="new-post">
        <h1>New Post</h1>

        <input type="text" id="post-title" class="form" placeholder="Title" name="title" size="30" required>
        <input type="text" id="post-description" class="form" placeholder="Short Description" name="description" size="30" required>

        <div class="select">
          <!-- <button id='btn-file' class='select-btn' type="button" onclick="myFunction('file')">File</button> -->
          <button id='btn-img' class='select-btn' type="button" onclick="myFunction('img')">Image</button>
          <button id='btn-link' class='select-btn' type="button" onclick="myFunction('link')">Link</button>
          <button id='btn-text' class='select-btn' type="button" onclick="myFunction('text')">Text</button>
        </div>

        <!-- JavaScript -->
        <script>
          function myFunction(i) {
            const inputs = document.querySelectorAll('.post-fn');
            const buttons = document.querySelectorAll('.select-btn');

            inputs.forEach(input => {
              input.classList.remove('active')
            })

            buttons.forEach(button => {
              button.classList.remove('active')
            })

            const targetInput = document.getElementById(`post-${i}`)
            const targetBtn = document.getElementById(`btn-${i}`)

            targetInput.classList.add('active');
            targetBtn.classList.add('active');
          }
        </script>

        <!-- File Input -->
        <!-- <div id="post-file" class='post-fn'>
          <input type="file" id="post-file" name="file">
        </div> -->

        <!-- Image Input -->
        <div id="post-img" class='post-fn'>
          <input type='file' id="post-img" name="picUrl"></input>
        </div>

        <!-- Link Input -->
        <div id="post-link" class='post-fn'>
          <input type="url" id="post-link" class="form" name="link" placeholder="https://example.com">
        </div>

        <!-- Text Input -->
        <div id="post-text" class='post-fn'>
            <textarea id='post-body' name="body" rows='3' placeholder="Write or paste in some text..."></textarea>
        </div>

      <div class="new-buttons">
        <button type="submit">Create</button>
      </div>
    </div>
  </form>
</div>

<a href="/users/{{username}}" class="back-btn"><button>< Back</button></a>
