<div>
  <form action="/users/{{username}}/" method="post">
    <legend>New</legend>

    <div>
      <input type="text" id="post-title" placeholder="Title" name="title">
    </div>

    <div>
      <input type="text" id="post-body" placeholder="Body" name="body">
    </div>

    <div>
      <button type="submit">Create</button>
    </div>
  </form>
</div>
